(
    playerSettings: (
        spawn: Point("S"),
        // spawn: Coords(1, 1),
        visibility: true,
        controllability: true,
        noclip: false,
        fly: false,
    ),
    // after in-game map editor update the names will be randomized
    usedBlocks: {
        "b": "gairun:blocks/block"
    },
    // new system
    // resources: {
    //     "b": Block("gairun:blocks/block")
    //     "t": Embedded("b")
    // },
    requiredPacks: [],
    gameMap: [
        ["b", "b", "b", "b", "", "b", "b"],
        ["b", "", "", "", "", "", "b"],
        ["b", "", "", "", "", "", "b"],
        ["", "", "", "", "", "", ""],
        ["b", "", "", "", "", "", ""],
        ["b", "", "", "S", "", "", "b"],
        ["b", "b", "", "b", "b", "b", "b"],
    ]
)